.buttons {
  display: grid;
  gap: 32px;
}

.action {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--c-spotify-black);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.4);
  color: var(--c-spotify-white);
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
  padding: 0 32px;
}

.action:hover {
  cursor: pointer;
  background-color: var(--c-spotify-gray);
  box-shadow: 0 3px 2px 0 rgba(255, 255, 255, 0.3);
}

.action:active {
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.4);
  transform: translateY(2px);
}
