html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--c-outline);
}

:root {
  --c-spotify-lightgreen: #1ed760;
  --c-spotify-green: #1db954;
  --c-spotify-white: #ffffff;
  --c-spotify-black: #191414;
  --c-spotify-gray: #282828;
  --c-outline: rgba(29, 185, 84, 0.8);
}

body {
  background-color: var(--c-spotify-black);
  color: var(--c-spotify-white);
}

code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
